{% extends 'base.html' %}
{% block title %}tasklist{% endblock title %}
{% block hometab %}inactive{% endblock hometab %}
{% block tasktab %}active{% endblock tasktab %}

{% block body %}
<div class="container my-3">
    <h2 class="text-center">Here is the list of your tasks</h2>
    <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Task Title</th>
      <th scope="col">Task Description</th>
      <th scope="col">Timestamp</th>
    </tr>
  </thead>
  <tbody>
  {% comment %} Run a for all and iterate through all the tasks from the sqlite3 database {% endcomment %}
  {% for t in tasks %}
    <tr>
      <th scope="row">{{forloop.counter}}</th>
      <td>{{t.TaskTitle}}</td>
      <td>{{t.TaskDesc}}</td>
      <td>{{t.TaskTime}}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
</div>
{% endblock body %}